**/packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
gce-service-account.json
vault.key
gce.py
gce.ini
__pycache__
.venv
*.pyc
.env
*.secrets
secrets.tar
pytestdebug.log
infra/ansible/roles/geerlingguy*
kubernetes/ansible/files/*.pem
kubernetes/ansible/files/*.csr
kubernetes/ansible/files/*.kubeconfig
kubernetes/ansible/files/encryption-config.yaml
kubernetes/reddit/cluster-admin-rolebinding.yml
kubernetes/reddit/ui-ingress-secret.yml
